<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddPerfumeManager</servlet-name>
        <servlet-class>controllerManager.AddPerfumeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountManager</servlet-name>
        <servlet-class>controllerManager.CreateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDetailsManager</servlet-name>
        <servlet-class>controllerManager.CustomerDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerManager</servlet-name>
        <servlet-class>controllerManager.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeDetailManager</servlet-name>
        <servlet-class>controllerManager.EmployeeDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeManager</servlet-name>
        <servlet-class>controllerManager.EmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerfumeDetailsManager</servlet-name>
        <servlet-class>controllerManager.PerfumeDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMenuManager</servlet-name>
        <servlet-class>controllerManager.ListMenuController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerProfile</servlet-name>
        <servlet-class>controllerManager.ManagerProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailsManager</servlet-name>
        <servlet-class>controllerManager.OrderDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderManager</servlet-name>
        <servlet-class>controllerManager.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePerfumeManager</servlet-name>
        <servlet-class>controllerManager.UpdatePerfumeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnalyticsManager</servlet-name>
        <servlet-class>controllerManager.AnalyticsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerManager</servlet-name>
        <servlet-class>controllerManager.DeleteCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MBlockCustomer</servlet-name>
        <servlet-class>controllerManager.BlockCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployeeManager</servlet-name>
        <servlet-class>controllerManager.DeleteEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllerManager.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePerfumeManager</servlet-name>
        <servlet-class>controllerManager.DeletePerfumeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutManager</servlet-name>
        <servlet-class>controllerManager.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPerfumeManager</servlet-name>
        <url-pattern>/addPerfumeManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountManager</servlet-name>
        <url-pattern>/createAccountManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDetailsManager</servlet-name>
        <url-pattern>/customerDetailsManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerManager</servlet-name>
        <url-pattern>/customerManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeDetailManager</servlet-name>
        <url-pattern>/employeeDetailManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeManager</servlet-name>
        <url-pattern>/employeeManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerfumeDetailsManager</servlet-name>
        <url-pattern>/perfumeDetailsManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListMenuManager</servlet-name>
        <url-pattern>/listMenuManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerProfile</servlet-name>
        <url-pattern>/managerProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailsManager</servlet-name>
        <url-pattern>/orderDetailsManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderManager</servlet-name>
        <url-pattern>/orderManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePerfumeManager</servlet-name>
        <url-pattern>/updatePerfumeManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnalyticsManager</servlet-name>
        <url-pattern>/analyticsManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerManager</servlet-name>
        <url-pattern>/deleteCustomerManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MBlockCustomer</servlet-name>
        <url-pattern>/MblockCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployeeManager</servlet-name>
        <url-pattern>/deleteEmployeeManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/loginManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePerfumeManager</servlet-name>
        <url-pattern>/deletePerfumeManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutManager</servlet-name>
        <url-pattern>/logoutManager</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>CustomerFilter</filter-name>
        <filter-class>filter.CustomerFilter</filter-class>
    </filter>
    <servlet>
        <servlet-name>GuestHome</servlet-name>
        <servlet-class>controllerGuest.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestMenu</servlet-name>
        <servlet-class>controllerGuest.MenuController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestPerfumeDetail</servlet-name>
        <servlet-class>controllerGuest.PerfumeDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchName</servlet-name>
        <servlet-class>controllerGuestCustomer.SearchNameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCategory</servlet-name>
        <servlet-class>controllerGuestCustomer.SearchCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerHome</servlet-name>
        <servlet-class>controllerCustomer.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestLogin</servlet-name>
        <servlet-class>controllerGuest.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerMenu</servlet-name>
        <servlet-class>controllerCustomer.MenuController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerPerfumeDetail</servlet-name>
        <servlet-class>controllerCustomer.PerfumeDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerCart</servlet-name>
        <servlet-class>controllerCustomer.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerAddToCart</servlet-name>
        <servlet-class>controllerCustomer.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerChangeQuantity</servlet-name>
        <servlet-class>controllerCustomer.ChangeQuantityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerPurchase</servlet-name>
        <servlet-class>controllerCustomer.PurchaseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerFinishOrder</servlet-name>
        <servlet-class>controllerCustomer.FinishOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerHistory</servlet-name>
        <servlet-class>controllerCustomer.HistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerCancelOrder</servlet-name>
        <servlet-class>controllerCustomer.CancelOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerUpdateHistory</servlet-name>
        <servlet-class>controllerCustomer.UpdateHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerHistoryDetail</servlet-name>
        <servlet-class>controllerCustomer.HistoryDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLogout</servlet-name>
        <servlet-class>controllerCustomer.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerAboutUs</servlet-name>
        <servlet-class>controllerCustomer.AboutUsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestAboutUs</servlet-name>
        <servlet-class>controllerGuest.AboutUsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerProfile</servlet-name>
        <servlet-class>controllerCustomer.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerUpdateProfile</servlet-name>
        <servlet-class>controllerCustomer.UpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerChangePassword</servlet-name>
        <servlet-class>controllerCustomer.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestRegister</servlet-name>
        <servlet-class>controllerGuest.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestForgotPassword</servlet-name>
        <servlet-class>controllerGuest.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerUpdateHistoryDetail</servlet-name>
        <servlet-class>controllerCustomer.UpdateHistoryDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GuestHome</servlet-name>
        <url-pattern>/guest/homeGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestMenu</servlet-name>
        <url-pattern>/guest/menuGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestPerfumeDetail</servlet-name>
        <url-pattern>/guest/perfumeDetailGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchName</servlet-name>
        <url-pattern>/searchName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCategory</servlet-name>
        <url-pattern>/searchCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerHome</servlet-name>
        <url-pattern>/customer/homeCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestLogin</servlet-name>
        <url-pattern>/guest/loginGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerMenu</servlet-name>
        <url-pattern>/customer/menuCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerPerfumeDetail</servlet-name>
        <url-pattern>/customer/perfumeDetailCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerCart</servlet-name>
        <url-pattern>/customer/cartCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerAddToCart</servlet-name>
        <url-pattern>/customer/addToCartCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerChangeQuantity</servlet-name>
        <url-pattern>/customer/changeQuantityCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerPurchase</servlet-name>
        <url-pattern>/customer/purchaseCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerFinishOrder</servlet-name>
        <url-pattern>/customer/finishOrderCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerHistory</servlet-name>
        <url-pattern>/customer/historyCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerCancelOrder</servlet-name>
        <url-pattern>/customer/cancelOrderCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerUpdateHistory</servlet-name>
        <url-pattern>/customer/updateHistoryCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerHistoryDetail</servlet-name>
        <url-pattern>/customer/historyDetailCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLogout</servlet-name>
        <url-pattern>/customer/logoutCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerAboutUs</servlet-name>
        <url-pattern>/customer/aboutUsCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestAboutUs</servlet-name>
        <url-pattern>/guest/aboutUsGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerProfile</servlet-name>
        <url-pattern>/customer/profileCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerUpdateProfile</servlet-name>
        <url-pattern>/customer/updateProfileCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerChangePassword</servlet-name>
        <url-pattern>/customer/changePasswordCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestRegister</servlet-name>
        <url-pattern>/guest/registerGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestForgotPassword</servlet-name>
        <url-pattern>/guest/forgotPasswordGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerUpdateHistoryDetail</servlet-name>
        <url-pattern>/customer/updateHistoryDetailCustomer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EmployeeController</servlet-name>
        <servlet-class>controllerEmployees.EmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailController</servlet-name>
        <servlet-class>controllerEmployees.OrderDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeController</servlet-name>
        <url-pattern>/employee/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailController</servlet-name>
        <url-pattern>/orderDetailEmployees/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            /customer/homeCustomer
        </welcome-file>
    </welcome-file-list>
    <welcome-file-list>
        <welcome-file>
            EmployeePage/loginEmployees.jsp
        </welcome-file>
    </welcome-file-list>
    <error-page>
        <location>
            /error/Error.html
        </location>
    </error-page>
    <welcome-file-list>
        <welcome-file>
            LoginManager.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
